@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Almendra+Display&family=Amarante&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Bahiana&family=Bigshot+One&family=Bokor&family=Buda&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Farsan&family=Girassol&family=Joti+One&family=Macondo+Swash+Caps&family=MedievalSharp&family=Metal+Mania&family=Modern+Antiqua&family=Overlock+SC&family=Risque&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Uncial+Antiqua&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Fonts and Typography */

// Font Family

$font-family-almendra-display: 'Almendra Display', cursive;
$font-family-amarante: 'Amarante', cursive;
$font-family-bahiana: 'Bahiana', cursive;
$font-family-bigshot-one: 'Bigshot One', cursive;
$font-family-bokor: 'Bokor', cursive;
$font-family-buda: 'Buda', cursive;
$font-family-cinzel-decorative: 'Cinzel Decorative', cursive;
$font-family-farsen: 'Farsan', cursive;
$font-family-girassol: 'Girassol', cursive;
$font-family-joti-one: 'Joti One', cursive;
$font-family-macondo-swash-caps: 'Macondo Swash Caps', cursive;
$font-family-medieval-sharp: 'MedievalSharp', cursive;
$font-family-metal-mania: 'Metal Mania', cursive;
$font-family-modern-antiqua: 'Modern Antiqua', cursive;
$font-family-overlook-sc: 'Overlock SC', cursive;
$font-family-risque: 'Risque', cursive;
$font-family-uncial-antiqua: 'Uncial Antiqua', cursive;
$font-family-unlock: 'Unlock', cursive;

$font-family-tinos: 'Tinos', serif;

$font-family-alegreya: 'Alegreya', serif;
$font-family-amiri: 'Amiri', serif;
$font-family-cinzel: 'Cinzel', serif;
$font-family-spectral: 'Spectral', serif;
$font-family-cormorant: 'Cormorant', serif;